<div class="container">
    <div class="row">
        <h2>Video Titel</h2>
    </div>
    <div class="row">
        <div class="col">
            <youtube-player 
                [videoId]="src" 
                suggestedQuality="highres" 
                [height]="250" 
                [width]="500" 
                [startSeconds]="4"
                [endSeconds]="8"
                (stateChange)="onStateChange($event)"
                (ready)="onReady($event)"
                id="youtubePlayer">
            </youtube-player>
        </div>
        <div class="col">
            <!-- Chat -->
        </div>
    </div>
    <div class="row">
        <input width="100" #box placeholder="Insert VideoId" (keyup)="onKey(box.value)"/>
        <button (click)="getNextVideo()">Load new Video</button>
        <p [textContent]="input"></p>
    </div>
</div>
