<div class="container">
    <div class="row">
        <h2>{{this.title}}</h2>
    </div>
    <div class="row">
        <div class="ytb">
            <youtube-player 
                [videoId]="this.src" 
                suggestedQuality="highres" 
                [height]="400" 
                [width]="700" 
                (stateChange)="onStateChange($event)"
                (ready)="onReady($event)"
                id="youtubePlayer">
            </youtube-player>
        </div>
        <div class="queu" style="overflow-y: scroll;">
            <div *ngFor="let video of this.videos" >
                <div style="height: 30px; width: 100%; margin-top: 15px;">
                    <u class="left" >Title: {{video.title}}    Likes: {{video.likes}}</u>
                    <button (click)="likeVideo(video.id)" class="left">Like</button>
                    <button (click)="dislikeVideo(video.id)" class="left">Dislike</button>
                    <button (click)="deleteVideo(video.id)" class="left"> Delete Video</button>
                </div>
            </div>
        </div>
    </div>
    <div class="inputs" >
        <input width="100" #box placeholder="Insert VideoId" (keyup)="onKey(box.value)"/>
        <input width="100" #box2 placeholder="Insert Title" (keyup)="titleKey(box2.value)"/>
        <button (click)="getNextVideo()">Load new Video</button>
        <button (click)="addToQueu(this.newTitle, this.newSrc)">Add Video to Queu</button>
    </div>
</div>
